body {
    background-color: rgb(27, 145, 181);
    background-image: url(img/01.png);
    background-repeat: no-repeat;
    background-position: bottom right;

}

h1 {
    /*color: cornflowerblue;*/
    background-image: url(img/estrellitas_2.png);
    background-size: 50px;
    text-align: center;
}

p{
    text-align: left;
    
}