* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    background-color: rgb(117, 22, 165);
    background-image: url(img/logoSanLuis.png);
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: bottom center;
    padding-bottom: 5%;
}


h1 {
    color: rgb(255, 255, 255);
    background-size: 50px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 10px;

}


.header {
    text-align: center;

}
/*
.banner-top {
    background-image: url(img/Banner_Top.png);
    background-size: cover;
    background-position: top;
    padding-bottom: 50px;
    margin-bottom: 15px;

}

.banner-bottom{
    background-image: url(img/Banner_bottom.png);
    background-size: cover;
    background-position: bottom;
    padding-top: 50px;
    margin-top: 15px;
}*/

.cont {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 41px;
    font-size: 25px;
    font-family: 'Playfair Display', serif;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 5px;

}

.cont>a {
    color: black;
    font-weight: bold;
    font-family: 'Playfair Display', serif;

}

@media screen and (min-width: 1400px) {
    body {
        background-color: rgb(173, 15, 178);
    }


}

.form-content {
    background: linear-gradient(50deg,
            rgba(69, 186, 193, 1) 50%,
            rgba(57, 157, 162, 0.2),
            rgba(57, 157, 162, 0.2)),
        url(img/4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    width: 1000px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
}

.form-content h2 {
    color: #FFFFFF;
    font-family: 'Playfair Display', serif;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.main-form {
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 50vh;
}

label {
    color: #FFFFFF;
    font-family: 'Playfair Display', serif;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10px;
}

input,
textarea {
    padding: 10px 14px;
    background-color: #C0E0E2;
    border: 0;
    font-size: 15px;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
}

:focus {
    outline: 2px solid #1E92E9;
    outline-style: outset;
}

.btn {
    cursor: pointer;
}

.btn:hover {
    background-color: #85cacf;
}

@media(max-width: 991px) {
    .main-form {
        padding: 30px;
    }

    .form-content {
        width: 100%;
    }

    form {
        width: 100%;
    }
}