/* Estilos generales */
* {
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    box-sizing: border-box;
}

body {
    background-color: #85A1AC;
    min-height: 100vh;

}

main {
    flex: 1;

}

h1 {
    color: rgb(255, 255, 255);
    background-size: 50px;
    text-align: center;
    margin: 0;
    padding: 10px;
}

h2 {
    background-size: 50px;
    text-align: center;
    margin: 10px;
    padding: 20px;
}

h3 {
    text-decoration: underline;
    margin-bottom: 30px;
    display: block;
}

.header {
    text-align: center;
    box-sizing: border-box;
}

.parrafo {
    padding: 25px;
    margin: 0px;

}

.banner-top {
    background-color: #E9435E;
    width: 100%;
    height: 1px;
    position: sticky;

}

footer {
    background-color: #E9435E;
    width: 100%;
    height: 60px;
    padding: 50px;
    margin: 5;
    margin-top: 50px;
    z-index: 1;
    margin-top: 50px;
    padding: 20px 0;
    /*background-color: rgba(128, 128, 128, 0.3);*/
}

.logo-bottom {
    background-image: url(img/logoSanLuis.png);
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: bottom center;
    padding-bottom: 10%;
}

.cont {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 41px;
    font-size: 25px;
    font-family: 'Playfair Display', serif;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 5px;

}

.cont>a {
    color: #FFFFFF;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    text-decoration: none;

}

.pag:hover {
    color: #000000;
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (min-width: 1400px) {
    body {
        /*background-color: #2D4A81;*/
    }
}

/* Inicio Formulario */

.form-content {
    background: linear-gradient(50deg,
            rgba(69, 186, 193, 1) 40%,
            rgba(57, 157, 162, 0.2),
            rgba(57, 157, 162, 0.2)),
        url(img/3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    width: 1000px;
    height: auto;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
}

.form-content h2 {
    color: #FFFFFF;
    font-family: 'Playfair Display', serif;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.main-form {
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 50vh;
    margin: 25px;
}

label {
    color: #FFFFFF;
    font-family: 'Playfair Display', serif;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10px;
}

input,
textarea,
button {
    padding: 10px 14px;
    background-color: #C0E0E2;
    border: 0;
    font-size: 15px;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    text-align: center;
}

.check {
    position: relative;

}

:focus {
    outline: 2px solid #1E92E9;
    outline-style: outset;
}

.btn {
    cursor: pointer;

}

.btn:hover {
    background-color: #85cacf;
}

@media(max-width: 1000px) {
    .main-form {
        padding: 30px;

    }

    .form-content {
        width: 100%;
    }

    form {
        width: 100%;
    }
}

.error {
    border: 2px solid #E9435E;
}

.wrong {
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #C3DCE3;
    padding: 8px 10px;
    margin-bottom: 25px;
    font-size: 15px;
    text-decoration: solid;
    color: #2D4A81;
    text-align: center;
    display: none;
}


.mensaje {
    display: flex;
    justify-content: center;
    align-content: right;   
    color: #000000;  
    background-color:#A7DBDD;
    font-size: 17px;    

    width: 35%;
    margin: 0 auto;  
    margin-left: 70%;
    padding: 8px 10px;
    margin-bottom: 25px;
    border-radius: 25px;
    display: none;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);  
    color: #000000;
}

/*
#resultado {
    position: right;
    text-align: center;
    margin-left: auto;
    color: #007bff;
}*/

/* Fin Formulario */


/* Carrusel */


.carru {
    padding: 15px;
    margin: 15px;
    position: relative;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;


}

.botones {
    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    background-color: (0, 0, 0, .7);
    text-align: center;
    font-weight: bold;
    position: absolute;
    color: #A7DBDD;
    box-shadow: 0 0 10px rgba(167, 219, 221, .7);
    -webkit-transition: all .3s ease;
    -o-transition: all .3 ease;
    transition: all .3s ease;
    z-index: 1;
}

.botones:hover {
    cursor: pointer;
    transform: scale(1.2, 1.2);
}

.btnatras {
    left: 2%;
    top: calc(50% - 70px);
}

.btnadelante {
    right: 4%;
    top: calc(50% - 70px);
}

.imagen {
    transition: transform 0.2s ease;
    size: 400px;

}

.imagen:hover {
    transform: scale(1.1);
}

/* Fin Carrusel */